@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  @include itemCenter;
}

.wrapper {
  width: 100%;
  height: calc(100dvh - 60px);
  background-color: $secondary-bg-color;
  padding: 3rem;
  @include itemCenter;

  &_container {
    gap: 2.5rem;
    width: 100%;
    height: calc(100dvh - 60px);
    transition: transform ease-in-out 1s;
    @include flexCol;

    &_infos {
      gap: 1rem;
      @include flexCol;

      &_remember {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 12px;
        font-weight: 600;
      }
    }

    button {
      border-radius: 6px;
      padding: 8px;
      box-shadow: 0 0 2px 0 white;
      font-size: 16px;
      font-weight: 700;
    }

    &_loginbtn {
      border: 1px solid #eee;
      background-color: $primary-bg-color;
      color: white;
    }

    &_google {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      color: $primary-color;
      background-color: #ddd;

      img {
        width: 20px;
        aspect-ratio: 1/1;
      }
    }

    &_change {
      font-size: 14px;
      font-weight: 700;

      label {
        color: $primary-color;
        cursor: pointer;

        input {
          display: none;
        }
      }
    }
  }
}

.login:has(input[id="change-register"]:checked) {
  transform: translateY(-100%);
}

.login:has(input[id="change-register"]:checked) ~ .register {
  transform: translateY(-100%);
}

.register:has(input[id="change-login"]:checked) {
  transform: translateY(0);
}

.register:has(input[id="change-login"]:checked) ~ .login {
  transform: translateY(0);
}
