$breakpoints: (
  "xm": 360px,
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1440px,
  "3xl": 1920px,
);

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin itemCenter {
  display: grid;
  place-items: center;
}

@mixin fullPage {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
}

@mixin xPadding {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin headerPadding {
  @include xPadding;
}

@mixin pagePadding {
  @include xPadding;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}
