@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  color: $primary-color;
  text-shadow: 1px 1px 0 white, 0 1px 1px $focus-color;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-color;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: $scroll-track;
  overflow: hidden;
}
