$loading-bg-color: #003928;
$loading-bubble-color: #2f9a2d;
$primary-bg-color: #0d7a52;
$secondary-bg-color: #c0e7d9;
$border-color: #065f44;
$focus-color: #3cf34b;
$shadow-color: rgb(136, 152, 170);
$scroll-color: #2ba883;
$scroll-track: #d1eee5;
$primary-color: #2a9e1b;
