@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  height: 20px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;
  cursor: pointer;
  filter: drop-shadow(0 1px 0.4px #748d74);

  @include breakpoint("lg") {
    display: none;
  }

  &:has(input[id="hamburger"]:checked) {
    .line {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          @if $i == 1 {
            transform: rotate(45deg) translateY(4px) translateX(4px);
          } @else if $i == 2 {
            transform: rotate(-45deg) translateY(0.8px) translateX(4.5px);
          } @else {
            transform: rotate(-45deg) translateY(-3.2px) translateX(5px);
          }
        }
      }
    }
  }

  .line {
    height: 2px;
    background-color: $loading-bubble-color;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        width: calc(100% - #{$i - 1} * 20%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}

.hidden {
  display: none;
}
